//   █████████            █████     █████     ███
//  ███░░░░░███          ░░███     ░░███     ░░░
// ░███    ░░░   ██████  ███████   ███████   ████  ████████    ███████  █████
// ░░█████████  ███░░███░░░███░   ░░░███░   ░░███ ░░███░░███  ███░░███ ███░░
//  ░░░░░░░░███░███████   ░███      ░███     ░███  ░███ ░███ ░███ ░███░░█████
//  ███    ░███░███░░░    ░███ ███  ░███ ███ ░███  ░███ ░███ ░███ ░███ ░░░░███
// ░░█████████ ░░██████   ░░█████   ░░█████  █████ ████ █████░░███████ ██████
//  ░░░░░░░░░   ░░░░░░     ░░░░░     ░░░░░  ░░░░░ ░░░░ ░░░░░  ░░░░░███░░░░░░
//                                                            ███ ░███
//                                                           ░░██████
//                                                            ░░░░░░

input {
    keyboard {
        xkb {
          layout "us"
        }

        repeat-delay 300
        repeat-rate 30

        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }
}

/-output "eDP-1" {
    mode "1920x1080@120.030"
    scale 2
    transform "normal"
}

layout {
    gaps 8
    center-focused-column "never"

    default-column-width { proportion 0.5; }

    focus-ring {
        width 1.5

        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    background-color "transparent"
}

animations {
    slowdown 2.0
}

hotkey-overlay {
    skip-at-startup
}

environment {
  XDG_CURRENT_DESKTOP "Niri"
  XDG_SESSION_DESKTOP "Niri"
  XDG_SESSION_TYPE "wayland"
  DESKTOP_SESSION "niri"
  MOZ_ENABLE_WAYLAND "1"
  ELECTRON_OZONE_PLATFORM_HINT "wayland"
  BEMENU_BACKEND "wayland"
  CLUTTER_BACKEND "wayland"
  SDL_VIDEODRIVER "wayland"
  QT_QPA_PLATFORM "wayland;xcb"
  QT_QPA_PLATFORMTHEME "qt5ct"
}

// Set the regular wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

overview {
  workspace-shadow {
    off
  }
}

//    █████████               █████                      █████                         █████
//   ███░░░░░███             ░░███                      ░░███                         ░░███
//  ░███    ░███  █████ ████ ███████    ██████   █████  ███████    ██████   ████████  ███████
//  ░███████████ ░░███ ░███ ░░░███░    ███░░███ ███░░  ░░░███░    ░░░░░███ ░░███░░███░░░███░
//  ░███░░░░░███  ░███ ░███   ░███    ░███ ░███░░█████   ░███      ███████  ░███ ░░░   ░███
//  ░███    ░███  ░███ ░███   ░███ ███░███ ░███ ░░░░███  ░███ ███ ███░░███  ░███       ░███ ███
//  █████   █████ ░░████████  ░░█████ ░░██████  ██████   ░░█████ ░░████████ █████      ░░█████
// ░░░░░   ░░░░░   ░░░░░░░░    ░░░░░   ░░░░░░  ░░░░░░     ░░░░░   ░░░░░░░░ ░░░░░        ░░░░░

prefer-no-csd

spawn-at-startup "qs" "-c" "noctalia-shell"

workspace "Main"
workspace "Media"
workspace "Games"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

spawn-at-startup "niri" "msg" "action" "focus-workspace" "Main"

//  ███████████              ████
// ░░███░░░░░███            ░░███
//  ░███    ░███  █████ ████ ░███   ██████   █████
//  ░██████████  ░░███ ░███  ░███  ███░░███ ███░░
//  ░███░░░░░███  ░███ ░███  ░███ ░███████ ░░█████
//  ░███    ░███  ░███ ░███  ░███ ░███░░░   ░░░░███
//  █████   █████ ░░████████ █████░░██████  ██████
// ░░░░░   ░░░░░   ░░░░░░░░ ░░░░░  ░░░░░░  ░░░░░░

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

window-rule {
  match app-id="foot"
  match app-id="footclient"
  match title="foot"

  draw-border-with-background false
  opacity 1.0
  shadow {
    on
    draw-behind-window true
    softness 0
    spread 0
    offset x=0 y=0
    color "#000000"
    inactive-color "#000000"
  }
}

// Float rule
window-rule {
    match title="Special Offers"
    match title="Friends List"
    match title="Steam Settings"
    match app-id="org.kde.kcalc"
    match app-id="blueman-manager"
    match title="Bluetooth"
    match app-id=r#"^blueberry*"#
    match app-id="org.kde.kdeconnect.app"
    match app-id="nm-connection-editor"
    match app-id="org.kde.polkit-kde-authentication-agent-1"
    match app-id="polkit-gnome-authentication-agent-1"
    match title="gtk*"
    match app-id="GParted"
    match app-id="nwg-look"
    match app-id="qt6ct"
    match app-id="qt5ct"
    match app-id="firefox" title="Picture-in-Picture"
    match app-id="floorp" title="Picture-in-Picture"
    match app-id="zen" title="Picture-in-Picture"
    match app-id="xdg-desktop-portal-gtk"
    match app-id="org.pulseaudio.pavucontrol"
    match title="popup title with spaces"
    match title="zoom"
    match title="Picture-in-Picture"
    match title="Picture in picture"
    match app-id="anki" title="Profile Name"
    match title="HoYoPlay"

    open-floating true
    open-focused true
    default-column-width { }
    default-window-height { }
}

// Open on Media workspace
window-rule {
    match app-id="steam"
    match app-id="Spotify"
    match app-id="Discord"

    open-on-workspace "Media"
}

// Open on Games workspace
window-rule {
  match app-id="steam_app_*"
  
  open-on-workspace "Games"
}

// Fullscreen rule
window-rule {
    match app-id="mpv"
    match app-id="steam_app_*"

    open-focused true
    open-fullscreen true
}


//  ███████████   ███                 █████
// ░░███░░░░░███ ░░░                 ░░███
//  ░███    ░███ ████  ████████    ███████   █████
//  ░██████████ ░░███ ░░███░░███  ███░░███  ███░░
//  ░███░░░░░███ ░███  ░███ ░███ ░███ ░███ ░░█████
//  ░███    ░███ ░███  ░███ ░███ ░███ ░███  ░░░░███
//  ███████████  █████ ████ █████░░████████ ██████
// ░░░░░░░░░░░  ░░░░░ ░░░░ ░░░░░  ░░░░░░░░ ░░░░░░

binds {
    // shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }

    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    Mod+Ctrl+Space repeat=false { toggle-overview; }

    Mod+Q       { close-window;                }
    Mod+Shift+Q { quit;                        }

    Mod+Ctrl+F  { toggle-window-floating;      }
    Mod+Shift+F { fullscreen-window;           }
    Mod+W       { switch-preset-column-width;  }
    Mod+Shift+W { switch-preset-window-height; }
    Mod+F{ maximize-column;             }

    Mod+Alt+C { center-column; }
    Mod+Alt+P { power-off-monitors; }
    Mod+Alt+T { toggle-column-tabbed-display; }
    Mod+Alt+F { switch-focus-between-floating-and-tiling; }
    Mod+Alt+L hotkey-overlay-title="Lock the Screen" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockscreen" "lock"; }

    // Mod+Return { expand-column-to-available-width; }

    // Program binds
    Mod+Return hotkey-overlay-title="Open a Terminal: foot"    { spawn "foot"; }
    Mod+Space  hotkey-overlay-title="Run an Application" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+B      hotkey-overlay-title="Open Browser"             { spawn "flatpak" "run" "com.brave.Browser"; }
    Mod+D      hotkey-overlay-title="Open Discord"             { spawn "flatpak" "run" "dev.vencord.Vesktop"; }

    XF86AudioRaiseVolume cooldown-ms=150 allow-when-locked=true { spawn "volume" "up";   }
    XF86AudioLowerVolume cooldown-ms=150 allow-when-locked=true { spawn "volume" "down"; }
    XF86AudioMute        cooldown-ms=150 allow-when-locked=true { spawn "volume" "mute"; }
    XF86MonBrightnessUp   cooldown-ms=150 { spawn "brightness" "up";   }
    XF86MonBrightnessDown cooldown-ms=150 { spawn "brightness" "down"; }
    XF86AudioMedia { spawn "playerctl" "play-pause"; }
    XF86AudioPlay  { spawn "playerctl" "play-pause"; }
    XF86AudioPrev  { spawn "playerctl" "previous";   }
    XF86AudioNext  { spawn "playerctl" "next";       }

    Mod+TouchpadScrollDown  cooldown-ms=150 { spawn "volume"     "up";   }
    Mod+TouchpadScrollUp    cooldown-ms=150 { spawn "volume"     "down"; }

    Mod+TouchpadScrollLeft  cooldown-ms=150 { spawn "brightness" "up";   }
    Mod+TouchpadScrollRight cooldown-ms=150 { spawn "brightness" "down"; }

    Print      { screenshot;        }
    Ctrl+Print { screenshot-screen; }
    Alt+Print  { screenshot-window; }

    Mod+Minus       { set-column-width  "-10%"; }
    Mod+Equal       { set-column-width  "+10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }

    Mod+0 { focus-workspace 1; }
    Mod+1 { focus-workspace 2; }
    Mod+2 { focus-workspace 3; }
    Mod+3 { focus-workspace 4; }
    Mod+4 { focus-workspace 5; }
    Mod+5 { focus-workspace 6; }
    Mod+6 { focus-workspace 7; }
    Mod+7 { focus-workspace 8; }
    Mod+8 { focus-workspace 9; }
    Mod+9 { focus-workspace 10; }
    Mod+Shift+0 { move-column-to-workspace 1; }
    Mod+Shift+1 { move-column-to-workspace 2; }
    Mod+Shift+2 { move-column-to-workspace 3; }
    Mod+Shift+3 { move-column-to-workspace 4; }
    Mod+Shift+4 { move-column-to-workspace 5; }
    Mod+Shift+5 { move-column-to-workspace 6; }
    Mod+Shift+6 { move-column-to-workspace 7; }
    Mod+Shift+7 { move-column-to-workspace 8; }
    Mod+Shift+8 { move-column-to-workspace 9; }
    Mod+Shift+9 { move-column-to-workspace 10; }

    Mod+H { focus-column-left;              }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up;   }
    Mod+L { focus-column-right;             }

    Mod+Ctrl+H { move-column-left;                      }
    Mod+Ctrl+J { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K { move-window-up-or-to-workspace-up;     }
    Mod+Ctrl+L { move-column-right;                     }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up;   }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { focus-column-right;   }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { focus-column-left;    }

    Mod+MouseForward { focus-column-right;            }
    Mod+MouseBack    { focus-column-left;             }

    Mod+BracketLeft  { consume-or-expel-window-left;  }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma        { consume-window-into-column;    }
    Mod+Period       { expel-window-from-column;      }
}
