spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &"
spawn-at-startup "noctalia-shell"
spawn-at-startup "swayidle"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}
