spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "noctalia-shell"
//spawn-sh-at-startup "swayidle -C $HOME/.config/swayidle/config"
//spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP=niri"
//spawn-at-startup "systemctl" "--user" "import-environment" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP=niri"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}
